<h1>Department Store</h1>
<p>This is a department store whre many items are available to purchase.</p>
<p>Click the link below to create a new item.<p>
<%= link_to "Create New Item", new_sub_path %>
<ul>
  <% @subs.each do |s| %>
    <li><%= link_to s.name, sub_path(s) %></li>
  <% end %>
</ul>